.main-button {
  background: linear-gradient(95deg, #1da1f5 5%, #00F9D2 100%);
  color:white;
  font-weight: 700;
  width: max-content;
  padding: 13px 22px;
  margin-right: 50px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}
.main-button:hover {
  box-shadow: rgba(15, 81, 123, 0.8) 0px 10px 20px;
  color: white;
  transition: ease-in 0.2s;
}
.project-button{
  display: flex;
  justify-content: center;
  margin-top: 20px;

}
/* Media Query */
@media (max-width: 768px) {
  .main-button {
    font-size: 15px;
    padding: 12px 18px;
    margin-right: 0px;
  }
}
@media (max-width: 320px) {
  .main-button {
    font-size: 12px;
  }
}
